/* style.css */

body
{
    font-family: Helvetica, Arial, sans-serif;
    background-color: #b0e0e6;
    font-size: 30px;
}

#heading
{
    padding: 5px;
    border: 2px dotted #377D71;
    margin: 10 px;
    font-family: "Times New Roman", sans-serif;
    font-size: 60px;
    color: #377D71;
    text-align: center;
    font-weight: bold;

}

p
{
    border: 2px solid rebeccapurple;
    padding: 1em;
    background-color: rgb(98, 39, 201);
    width: 600px;
    color: white;
}

ul 
{
    background: #3399ff;
    padding: 20px;
}

ul li {
    background: #cce5ff;
    color: darkblue;
    margin: 5px;
  }